# Ignore vimspector debug configurations
 **/.vimspector.json
 **/*.sln

# Ignore c# directories
bin/
obj/

# Ignore node-related files/directories
node_modules/
package-lock.json

# Ignore transpiled TypeScript (ts\node)
dist/